<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chung.manager.mapper.EmployeeInfoMapper">
    <select id="queryByUsername" resultType="chung.manager.entities.EmployeeInfo">
    SELECT * FROM employee_info where username=#{username}
  </select>
</mapper>